@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

/* Scroll-bar */

body::-webkit-scrollbar {
  width: 8px !important;
  background-color: aliceblue !important;
}

body::-webkit-scrollbar-thumb {
  border-radius: 15px !important;
  background-color: rgb(192, 188, 188) !important;
}

body::-webkit-scrollbar-track {
  width: 8px !important;
  background-color: aliceblue !important;
}

input:-webkit-autofill {

  background-color: none !important;

}

.center {
  @apply flex justify-center items-center
}

/* Dark and light backgrounds */
.bg-sidePanel {
  @apply dark:bg-[#1C1E22] bg-[#F6F8FD]
}

.bg-chatContainer {
  @apply dark:bg-[#202128] bg-[#FBFCFF]
}

.bg-messageHeader {
  @apply dark:bg-[#202128] bg-[#FBFCFF]
}

.bg-messageContent {
  @apply dark:bg-[#141517] bg-[#F6F8FD]
}

.bg-messageInput {
  @apply dark:bg-[#282833] bg-[#FBFCFF]
}

.cus-skeleton {
  @apply bg-gray-200 rounded-full dark:bg-gray-700
}